
/* Default Light Theme */
/* index.css or globals.css */

/* Default Light Theme */
:root {
  --primary-text: #1a202c; /* Dark Gray */
  --secondary-text: #718096; /* Light Gray */
  --accent-text: #3182ce; /* Blue */
  --bg-color: #ffffff; /* White */
  --bg-color-primary: #c5c8cc; /* Light Background */
  --bg-color-secondary: #a2a7ab; /* Lighter Background */
}

/* Dark Theme */
[data-theme="dark"] {
  --primary-text: #e2e8f0; /* Light Gray */
  --secondary-text: #88919d; /* Dark Gray */
  --accent-text: #63b3ed; /* Light Blue */
  --bg-color: #2d3748; /* Dark Gray */
  --bg-color-primary: #282e3a; /* Dark Background */
  --bg-color-secondary: #15222c; /* Darker Background */
}

  
  /* Forest Theme */
  [data-theme="forest"] {
    --primary-text: #ffffff; /* Deep Green */
    --secondary-text: #a7c957; /* Light Green */
    --accent-text: #ffcc00; /* Yellow */
    --bg-color: #0b3d2e; /* Forest Green */
    --bg-color-primary: #0b503c; /* Forest Green */
    --bg-color-seconry: #127e5e; /* Forest Green */
  }
  